---
// WordPress旧URL /review-2021/ → Astro新URL /blog/2021-furikaeri/ へリダイレクト
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/blog/2021-furikaeri/" />
    <link rel="canonical" href="/blog/2021-furikaeri/" />
    <title>リダイレクト中...</title>
  </head>
  <body>
    <p>ページが移動しました。<a href="/blog/2021-furikaeri/">こちら</a>をクリックしてください。</p>
  </body>
</html>
